<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
	<link rel="stylesheet" href="css/HomeVS.css">
	<link rel="icon" href="asset/ICON.png">

</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <h2>Victory Structure</h2>
    	<ul>
            <li><a href="/">Home</a></li>
            <li><a href="/module">Module</a></li>
            <li><a href="/allcoursework"></i>All Coursework</a></li>
            <li><a href="/about"></i>About</a></li>
        </ul>
        <div class="options">
			<ul>
				<li><a href="/settings">Account and Settings</a></li>
				<li>
          <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="linked_button">Log Out</button>
          </form>
        </li>
			</ul>
      </div>
    </div>
	
    <div class="main_content">
        <div class="header">About</div> 
			
		<div class="info">
			<div class = "Title">Who are we?</div>
			<p>We are Victory Structure, we are an organisation that have come together for the betterment of students across the World.</p>
			<br>
			<div class = "Title"> Our History </div>
			<p>We are a group of students, who came together after noticing a hole in the marketplace for a quality student planner!
			As students we feel like we come from an appropriate place to execute an effective student planner website.</p>
			<br>
			<div class = "Title"> How do we stand out?</div> 
			<p>We stand out because our website is easy to navigate and we have helpful features like an interactive calender and the abilty to make as many courseworks and
			modules that the user requires!</p>
			
		</div>
	</div>
</div>
</body>
</html>