<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
	<link rel="stylesheet" href="css/HomeVS.css">
	<link rel="icon" href="asset/ICON.png">

</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <h2>Victory Structure</h2>
    	<ul>
            <li><a href="/">Home</a></li>
            <li><a href="/module">Module</a></li>
            <li><a href="/allcoursework"></i>All Coursework</a></li>
            <li><a href="/about"></i>About</a></li>
        </ul>
        <div class="options">
			<ul>
				<li><a href="/settings">Account and Settings</a></li>
				<li>
          <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="linked_button">Log Out</button>
          </form>
        </li>
			</ul>
      </div>
    </div>
	
    <div class="main_content">
        <div class="header">User Settings</div> 
		<div class="container">
			<h1 class="mb-5">Account Settings</h1>
					<div class="header"><%= name %></div>
				
					
		</div>

				
</div>
</body>
</html>