<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Coursework</title>
	<link rel="stylesheet" href="css/HomeVS.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="icon" href="asset/ICON.png">

</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <h2>Victory Structure</h2>
    	<ul>
            <li><a href="/">Home</a></li>
            <li><a href="/module">Module</a></li>
            <li><a href="/coursework"></i>Coursework</a></li>
            <li><a href="#"></i>About</a></li>
        </ul>
        <div class="options">
			<ul>
				<li><a href="#">Account and Settings</a></li>
				<li>
          <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="linked_button">Log Out</button>
          </form>
        </li>
			</ul>
      </div>
    </div>
	
    <div class="main_content">
        <div class="header">Coursework</div> 
		<div class ="button-group">
			<form action = "/createcoursework" method = "GET">
				<button class = "button1" type = "submit"> Create Coursework</button>
			</form>
			<form action = "/createactivity">
				<button class = "button1" type = "submit"> Create Activity</button>
			</form>
		</div>
	
		<div class="info">
			 <div class = "table">
			<table id = "coursework_table">
				<tr>
					<th>Coursename</th>
					<th>Description</th>
					<th>Deadline</th>
					<th>Markvalue</th>
					<th>Notes</th>
					<th>Percentage</th>
					<th>Module</th>
				</tr>
			</table>
			</div>
		
			<script>
				$(document).ready(function(){
					var coursework_data = '';
					let userid = <%= passedid %>;
					var data = <%-JSON.stringify(coursework_json)%>;

					$.each(data[userid],function(key, value){
						coursework_data += '<tr>';
						coursework_data += '<td>'+value.courseworkname+'</td>';
						coursework_data += '<td>'+value.description+'</td>';
						coursework_data += '<td>'+value.deadline+'</td>';
						coursework_data += '<td>'+value.markvalue+'</td>';
						coursework_data += '<td>'+value.notes+'</td>';
						coursework_data += '<td>'+value.percentage+'</td>';
						coursework_data += '<td>'+value.modulename+'</td>';
						coursework_data += '</tr>';
					});
					
					$('#coursework_table').append(coursework_data);
				});
			</script>
			</div>
			<div class="slidecontainer">
				<input type="range" min="1" max="100" value="1" class="slider" id="myRange">
				
				<label for="checkbox"> Completed:</label>
				<input type="checkbox" id="checkbox" name="completecheckbox" onchange="handleChange()">
				
				

				<p>Percentage Complete: <span id="demo"></span>%</p>
				
			</div>	
		</div>
	</div>

    </div>
</div>

<script src="js/Coursework.js"></script>
</body>
</html>