<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="css/HomeVS.css">
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Victory Structure</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/semester">Semester</a></li>
            <li><a href="/coursework"></i>Create Coursework</a></li>
            <li><a href="#"></i>About</a></li>
        </ul>
        <div class="options">
			<ul>
				<li><a href="#">Account and Settings</a></li>
				<li>
          <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="linked_button">Log Out</button>
          </form>
        </li>
			</ul>
      </div>
    </div>
	
	
    <div class="main_content">
        <div class="header">Coursework</div>  
        <div class="info">
			<form action = "/createcoursework">
				<button type = "submit"> Create Coursework</button>
			</form>
			<div class="Table">Schedule Table​</div>

		</div>
    </div>
</div>

</body>
</html>