<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Coursework</title>
	<link rel="stylesheet" href="css/HomeVS.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="icon" href="asset/ICON.png">
	<script src="js/Createcoursework.js"></script>

</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <h2>Victory Structure</h2>
    	<ul>
            <li><a href="/">Home</a></li>
            <li><a href="/module">Mdule</a></li>
            <li><a href="/allcourseworks"></i>All Coursework</a></li>
            <li><a href="#"></i>About</a></li>
        </ul>
        <div class="options">
			<ul>
				<li><a href="#">Account and Settings</a></li>
				<li>
          <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="linked_button">Log Out</button>
          </form>
        </li>
			</ul>
      </div>
    </div>
	
    <div class="main_content">
        <div class="header"> <%= selectedpage %> Coursework</div> 

		<div class="info">

		</div>
	</div>

    </div>
</div>

<script src="js/Coursework.js"></script>
</body>
</html>