<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create Activity</title>
	<link rel="stylesheet" href="css/HomeVS.css">
	<link rel="icon" href="asset/ICON.png">
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Victory Structure</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/module">Module</a></li>
            <li><a href="/coursework"></i>Coursework</a></li>
            <li><a href="#"></i>About</a></li>
        </ul>
        <div class="options">
			<ul>
				<li><a href="#">Account and Settings</a></li>
				<li>
          <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="linked_button">Log Out</button>
          </form>
        </li>
			</ul>
      </div>
    </div>
	
	
    <div class="main_content">
        <div class="header">Create Coursework Activity</div>  
        <div class="info">
			<div class="Table">
				<form action="#" method="POST">
				  <label for = "coursename">Enter Module Name</label>
				  <input type = "text" id = "modulename" name = "modulename" placeholder = "Module Name" required>
				  <label for = "description">Description</label>
				  <input type = "text" id = "description" name = "description" placeholder = "Description" required >
				  <label for = "coursename">Enter Module Name</label>
				  <select id = "modulename" name = "modulename" placeholder = "Modlue Name" required>
					<option value="volvo">Volvo</option>
					<option value="saab">Saab</option>
					<option value="fiat" selected>Fiat</option>
					<option value="audi">Audi</option>
				  </select>
				  
					  <button type="submit" class="linked_button" id="form_submit">Submit</button>       
				</form>  
			</div>
		</div>
    </div>
</div>

</body>
</html>