<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create Coursework</title>
	<link rel="stylesheet" href="css/HomeVS.css">
	<link rel="icon" href="asset/ICON.png">
	<script src="js/Createcoursework.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>


<div class="wrapper">
    <div class="sidebar">
        <h2>Victory Structure</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/module">Module</a></li>
            <li><a href="/coursework"></i>Coursework</a></li>
            <li><a href="#"></i>About</a></li>
        </ul>
        <div class="options">
			<ul>
				<li><a href="#">Account and Settings</a></li>
				<li>
          <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="linked_button">Log Out</button>
          </form>
        </li>
			</ul>
      </div>
    </div>
    <div class="main_content">
        <div class="header">Create Coursework</div>  
        <div class="info">
			<div class="Table">
			<form action="/createcoursework" method="POST">
			  <label for = "courseworkname">Enter Coursework Name</label>
			  <input type = "text" id = "courseworkname" name = "courseworkname" placeholder = "Coursework Name" required>
			  <label for = "description">Description</label>
			  <input type = "text" id = "description" name = "description" placeholder = "Description" required >
			  <label for = "Deadline">Deadline</label>
			  <input type = "date" id = "deadline" name="deadline" placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31" required><br>
			  <label for = "Mark Value">Mark Value</label><br>
			  <input type = "text" id = "markvalue" name = "markvalue" placeholder = "markvalue" required>
			  <label for = "notes">Notes</label>
			  <input type = "text" id = "notes" name = "notes" placeholder = "Notes">
			  <div id="selectContainer">
				<script>
					$(document).ready(function(){
						let userid = <%= passedid %>;
						$.getJSON("data/module.json", function(data){
							var module_data = '';
							
							var ddl = document.createElement("SELECT");
							
							$.each(data[userid],function(key, value){
								var option = document.createElement("OPTION");

								//Set Name in Text part.
								option.innerHTML = value.modulename;

								//Set Id in Value part.
								//option.value = value.CustomerId;

								//Add the Option element to DropDownList.
								ddl.options.add(option);
							});
							document.getElementById('selectContainer').appendChild(ddl);  
						});
					});
				
				</script>
			  </div>
				<div id = "submit" class = "submit">
					<button type="submit" class="linked_button" id="form_submit" onclick="confirmSubmit()">Submit</button>
				</div>
						
			</form>  
			</div>
		</div>
    </div>
</div>

</body>
</html>