<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create Activity</title>
	<link rel="stylesheet" href="css/HomeVS.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="icon" href="asset/ICON.png">
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Victory Structure</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/module">Module</a></li>
			<li><a href="/allcoursework"></i>All Coursework</a></li>
            <li><a href="/about"></i>About</a></li>
        </ul>
        <div class="options">
			<ul>
				<li><a href="/settings">Account and Settings</a></li>
				<li>
          <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="linked_button">Log Out</button>
          </form>
        </li>
			</ul>
      </div>
    </div>
	
	
    <div class="main_content">
        <div class="header">Create Coursework Activity</div>  
        <div class="info">
			<div class="Table">
				<form action="#" method="POST">
					<label for = "activityname">Enter Coursework Activity Name</label>
					<input type = "text" id = "activityname" name = "activityname" placeholder = "Coursework Activity Name" required>
					<label for = "description">Description</label>
					<input type = "text" id = "description" name = "description" placeholder = "Description" required >
					<label for = "notes">Notes</label>
					<input type = "text" id = "notes" name = "notes" placeholder = "Notes">
					<label for = "selectContainer">Select a Coursework</label>
				<div id="selectContainer2">
				<script>
					$(document).ready(function(){
						let userid = <%= passedid %>;
						var data = <%-JSON.stringify(coursework_json)%>;
						var ddl = document.createElement("SELECT");
						$.each(data[userid],function(key, value){
							var option = document.createElement("OPTION");
							option.innerHTML = value.courseworkname;
							ddl.options.add(option);
						});
						document.getElementById('selectContainer2').appendChild(ddl);  
						ddl.setAttribute("name", "courseworkname");
					});
				</script>
				</div>
					<button type="submit" class="linked_button" id="form_submit">Submit</button>       
				</form>  
			</div>
		</div>
    </div>
</div>

</body>
</html>