<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create Module</title>
	<script src="js/Module.js"></script>

	<link rel="stylesheet" href="css/HomeVS.css">
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Victory Struture</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Module">Module</a></li>
            <li><a href="/coursework"></i>Coursework</a></li>
            <li><a href="#"></i>About</a></li>
			
        </ul>
        <div class="options">
			<ul>
				<li><a href="#">Account and Settings</a></li>
				<li>
          <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="linked_button">Log Out</button>
          </form>
        </li>
			</ul>
      </div>
    </div>
	
    <div class="main_content">
        <div class="header">Create module</div>  
        <div class="info">
			<div class="Table">
				<form action="/createmodule" method="POST">
				  <label for = "coursename">Enter Module Name</label>
				  <input type = "text" id = "modulename" name = "modulename" placeholder = "Module Name" required>
				  <label for = "description">Description</label>
				  <input type = "text" id = "description" name = "description" placeholder = "Description" required >
					  <button type="submit" class="linked_button" id="form_submit" >Submit</button>     
				</form>  
			</div>
			</div>
		</div>
    </div>
</div>

</body>
</html>