<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="css/HomeVS.css">

</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Victory Structure</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/module">Module</a></li>
            <li><a href="/coursework"></i>Coursework</a></li>
            <li><a href="#"></i>About</a></li>
        </ul>
        <div class="options">
			<ul>
				<li><a href="#">Account and Settings</a></li>
				<li>
          <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="linked_button">Log Out</button>
          </form>
        </li>
			</ul>
      </div>
    </div>
    <div class="main_content">
        <div class="header">Create Coursework</div>  
        <div class="info">
			<div class="Table">Course Work
			<form action="/createcoursework" method="POST">
			  <label for = "coursename">Enter Course Name</label>
			  <input type = "text" id = "coursename" name = "coursename" placeholder = "Course Name" required>
			  <label for = "description">Description</label>
			  <input type = "text" id = "description" name = "description" placeholder = "Description" required >
			  <label for = "Deadline">Deadline</label>
			  <input type = "date" id = "deadline" name="deadline" placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31" required>
			  <label for = "Mark Value">Mark Value</label>
			  <input type = "text" id = "markvalue" name = "markvalue" placeholder = "markvalue" required>
			  <label for = "notes">Notes</label>
			  <input type = "text" id = "notes" name = "notes" placeholder = "Notes">
				<div id = "submit" class = "submit">
				  <button type="submit" class="linked_button">Submit</button>
				</div>        
			</form>  
			</div>
		</div>
    </div>
</div>

</body>
</html>