<!DOCTYPE html>
<html>
<head>
	<title> Victory Structure :: Home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header>
		<h1>Home</h1>
		<link rel="stylesheet" href="css/HomeVS.css">
	</header>
	<nav>
		<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="HomeVS.html">Home</a>
		<a href="SemesterVS.html">Semester</a>
		<a href="CourseworkVS.html">Create Coursework</a>
		<a href="AccSVS.html">Account and Settings</a>
		<a href = "SignoutVS.html">Sign out</a>
	</div>
	</nav>
	<main>
		<div id class = "schedule" class = "schedule">
		<p> Schedule </p>
		</div>
		<div id = "urgent" class =  "urgent">
		<p> Urgent Tasks </p>
		</div>
		<div id = "background" class = "background">
		</div>
	</main>
</body>	


</html>