<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="css/HomeVS.css">
	<link rel="icon" href="asset/ICON.png">
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2 id="VS">Victory Structure</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/module">Module</a></li>
            <li><a href="/coursework"></i>Coursework</a></li>
            <li><a href="#"></i>About</a></li>
        </ul> 
        <div class="options">
			<ul>
				<li><a href="#">Account and Settings</a></li>
				<li>
          <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="linked_button">Log Out</button>
          </form>
        </li>
			</ul>
      </div>
    </div>
	
	
    <div class="main_content">
        <div class="header">Welcome <%= name %></div>  
        <div class="info">
      <iframe src="/calendar" width="100%" height="650px"></iframe>
		</div>
    </div>
</div>

</body>
</html>