<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="css/HomeVS.css">
	<link rel="icon" href="asset/ICON.png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2 id="VS">Victory Structure</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/module">Module</a></li>
            <li><a href="/allcoursework"></i>All Coursework</a></li>
			<li><a href="/about"></i>About</a></li>
        </ul> 
        <div class="options">
			<ul>
				<li><a href="/settings">Account and Settings</a></li>
				<li>
          <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="linked_button">Log Out</button>
          </form>
        </li>
			</ul>
      </div>
    </div>
	
	
    <div class="main_content">
        <div class="header">Welcome <%= name %>!</div>  
        <div class="info">
			<iframe src="/calendar" width="100%" height="650px"></iframe>
			
			<h3>Urgent Tasks</h3>
		<div>
            <table id = "urgent_table">
              <tr>
                <th>Coursework Name</th>
                <th>Description</th>
				<th>Deadline</th>
				<th>Mark Value</th>
				<th>Notes</th>
				<th>Percentage</th>
				<th>Modlue Name</th>
              </tr>
            </table>
          </div>
          <script>
            $(document).ready(function(){
			  var urgent_data = '';
			  var userid = <%= passedid %>;
			  var data = <%- JSON.stringify(urgent)%>;
  
              $.each(data,function(key, value){
                urgent_data += '<tr>';
                urgent_data += '<td>'+value.courseworkname+'</td>';
                urgent_data += '<td>'+value.description+'</td>';
				urgent_data += '<td>'+value.deadline+'</td>';
				urgent_data += '<td>'+value.markvalue+'%</td>';
				urgent_data += '<td>'+value.notes+'</td>';
				urgent_data += '<td>'+value.percentage+'%</td>';
				urgent_data += '<td>'+value.modulename+'</td>';
                urgent_data += '</tr>';
              });
              $('#urgent_table').append(urgent_data);
              });
          </script>
		</div>
    </div>
</div>

</body>
</html>