<!DOCTYPE html>
<html>
<head>
	<title> Victory Structure </title>
</head>
<body>
<body>
	<header>
		<h1>Victory Structure</h1>
		 <link rel="stylesheet" href="css/LoginVS.css">
	</header>
	<nav>
		<ul>
			
		</ul>
	</nav>
	<main>
		<h2> Login Page </h2>
		<!-- <p> Information that is required is marked with an asterisk (*).</p> -->
		<form action="/login" method="POST">
		 <fieldset>
			<legend> Login </legend>
			<label for = "user_name"> Username: </label>
			<input type = "text" id = "user_name" name = "user_name" placeholder = "Reggie22" accesskey = "U" required></br>
			<label for = "password"> Password: </label>
			<input type = "text" id = "password" name = "password" placeholder = "Password123" accesskey = "P" required></br>
			<!-- <label for = "email"> Email *:</label>
			<input type = "text" id = "email" name = "email" placeholder = "Reggie.Sanchez@uea.ac.uk" accesskey = "E" required></br>
			<label for = "phone_number">Phone number: </label>
			<input type = "text" id = "phone_number" name = "phone_number" placeholder = "02035456782" accesskey = "P"> -->

			<button type="submit">Login</button>
	</main>
	<footer>
		<div> Victory Structure</br>
			<p>Contact us:</p>
			<a href = "placeholder@uea.ac.uk">Email: placeholder@uea.ac.uk  </a></br>
			<a href = "020855733255"> Phone: 020855733255 </a>
		</div>
		
	</footer>
</body>
</html>
