<!DOCTYPE html>
<html>
<head>
	<title> Victory Structure </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header>
		<h1>Victory Structure</h1>
		 <link rel="stylesheet" href="css/LoginVS.css">
	</header>
	<main>
		<div id = "whole" class "whole">
		<p> </p>
		</div>
		<div id = "login" class = "login">
			<% if (messages.error) { %>
				<%= messages.error %>
			<% } %>
		<form action="/login" method="POST">
			<label for = "username"> Username:</label>
			<input type = "text" id = "username" name = "username" placeholder = "Username" accesskey = "U" required></br>
			<label for = "password"> Password:</label>
			<input type = "password" id = "password" name = "password" placeholder = "Password" accesskey = "P" required></br>
		</div>
		<div id = "submit" class = "submit">
			<button type="submit">Login</button>
		</div>
		<div id = "forgot" class = "forgot">
			<p> Forgot Password </p>
		</div>
		<div id = "new" class = "new">
			<p> New User </p>
		</div>
	</main>
</body>
</html>
