<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Module</title>
	<link rel="stylesheet" href="css/HomeVS.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Victory Structure</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Module">Module</a></li>
            <li><a href="/coursework"></i>Coursework</a></li>
            <li><a href="#"></i>About</a></li>
			
        </ul>
        <div class="options">
			<ul>
				<li><a href="#">Account and Settings</a></li>
				<li>
          <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="linked_button">Log Out</button>
          </form>
        </li>
			</ul>
      </div>
    </div>
	
    <div class="main_content">
        <div class="header">Modules</div>
		<div class ="button-group1">
			<form action = "/createmodule" method = "GET">
				<button class = "button2" type = "submit"> Create Module</button>
			</form>
			
		</div>
        <div class="info">
          <div>
            <table id = "module_table">
              <tr>
                <th>Module</th>
                <th>Description</th>
              </tr>
            </table>
          </div>
          <script>
            $(document).ready(function(){
              var module_data = '';
              let userid = <%= passedid %>;
              var data = <%-JSON.stringify(module_json)%>;
  
              $.each(data[userid],function(key, value){
                module_data += '<tr>';
                module_data += '<td>'+value.modulename+'</td>';
                module_data += '<td>'+value.description+'</td>';
                module_data += '</tr>';
              });
              $('#module_table').append(module_data);
              });
          </script>
		  </div>
   </div>
</div>
</body>
</html>