*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
.button-group{
	
	background-color: none;
}
.button-group button{
	/*transform: translate(-50%,-50%);*/
	position: relative;
	left: 70%;
	width: 200px;
	float: left;
	background-color: #A3B4A2;
	border: 1px solid green; 
	color: white; 
	
	padding: 10px 24px; 
	cursor: pointer; /* changes the cursor to poiter symbol */
	
}
.button-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}


.button-group:after {
  content: "";
  clear: both;
  /* displays in its own space */
  display: table;
}

/* Add a background color on hover */
.button-group button:hover {
  background-color: #768f75;
}


body{
	background-color: #ECEAE0;
}

.wrapper{
	display: flex;
	position: relative;
}

.wrapper .sidebar{
	width: 200px;
	height: 100%;
	background: #A3B4A2;
	padding: 30px 0px;
	position: fixed;
}

.wrapper .sidebar h2{
	color: black;
	font-size: 32px;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 30px;
}

.wrapper .sidebar ul li{
	padding: 15px;
	border-bottom: 1px solid black;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
	color: black;
	text-align: left;
}    

.wrapper .sidebar ul li:hover{
	background-color: #768f75;
}
    
 
.wrapper .sidebar .options{
	position: absolute;
	bottom: 0;
	width: 200px;
}

.wrapper .main_content{
	width: 100%;
	margin-left: 200px;
}

.wrapper .main_content .header{
	font-size: 35px;
	padding: 20px;
	background: #fff;
	color: #717171;
	border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
	margin: 15px;
	color: #717171;
	line-height: 25px;
}

.wrapper .main_content .info div{
	margin-bottom: 15px;
	background: white;
	
}

.wrapper .main_content .info .Table{
	height: 300px;
}

.wrapper .main_content .info .Tasks{
	height: 200px;
}

.linked_button {
	background: none!important;
	border: none;
	padding: 0!important;
	cursor: pointer;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}